@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.ttf");
}

@font-face {
  font-family: 'fa-brands-400';
  src: url("../fonts/fa-brands-400.ttf");
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url("../fonts/PTSans-Bold.ttf");
}

@font-face {
  font-family: 'PTSans-Italic';
  src: url("../fonts/PTSans-Italic.ttf");
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url("../fonts/PTSans-Regular.ttf");
}

@font-face {
  font-family: 'PTSerif-Bold';
  src: url("../fonts/PTSerif-Bold.ttf");
}

@font-face {
  font-family: 'PTSerif-Regular';
  src: url("../fonts/PTSerif-Regular.ttf");
}

body {
  font-size: 16px;
  font-family: 'PTSans-Regular';
  color: #4b4b4b;
}

.container {
  max-width: 970px;
  margin: auto;
  padding: 0 15px;
  height: 100%;
}

.header {
  background: url(../img/header/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.header .nav .logo h2 {
  font-family: 'PTSerif-Bold';
  font-size: 36px;
  line-height: 1;
}

.header .nav .logo h2 a {
  color: #ff6633;
}

.header .nav .menu .burger {
  display: none;
}

.header .nav .menu .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav .menu .main-menu .block {
  position: relative;
  margin-left: 100px;
}

.header .nav .menu .main-menu .block:first-of-type {
  margin-left: 0;
}

.header .nav .menu .main-menu .block:hover p {
  display: block;
}

.header .nav .menu .main-menu .block a {
  text-transform: uppercase;
  font-family: 'PTSerif-Bold';
  color: #ffffff;
  letter-spacing: 1.05px;
  font-size: 14px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .nav .menu .main-menu .block a:hover {
  color: #ff6633;
}

.header .nav .menu .main-menu .block p {
  position: absolute;
  left: 0;
  top: 40px;
  width: calc(100% + 70px);
  color: #ffffff;
  font-family: 'PTSans-Italic';
  font-size: 13px;
  line-height: 18px;
  letter-spacing: .98px;
  display: none;
}

.header .header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100% - 76px);
}

.header .header-main h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 52px;
  line-height: 1;
  font-family: 'PTSerif-Bold';
  text-align: center;
}

.header .header-main p {
  font-family: 'PTSerif-Regular';
  color: #ffffff;
  font-size: 36px;
  margin-top: 5px;
  text-align: center;
  line-height: 1.3;
}

.header .header-main p a {
  color: #ffffff;
  text-decoration: underline;
}

.header .header-main .btn {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-main .btn button {
  text-transform: uppercase;
  width: 160px;
  height: 50px;
  background: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  font-family: 'PTSans-Bold';
  font-size: 13px;
  letter-spacing: .65px;
  margin-left: 20px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .header-main .btn button:first-of-type {
  margin-left: 0;
}

.header .header-main .btn button:hover {
  background: #ff6633;
}

.header .header-down {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 35px;
  text-align: center;
}

.header .header-down p {
  color: #ffffff;
  font-size: 14px;
}

.header .header-down .scroll-down {
  margin-top: 20px;
}

.header .header-down .scroll-down .fas {
  font-family: 'fa-solid-900';
  display: block;
  color: #ffffff;
  font-size: 22px;
  line-height: .4;
  -webkit-animation: slidedown 3s infinite;
          animation: slidedown 3s infinite;
}

@-webkit-keyframes slidedown {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slidedown {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.section-menu {
  background: #f7f7f7;
  padding: 120px 0;
}

.section-menu .menu-wrap1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.section-menu .menu-wrap1 .block {
  width: calc(50% - 30px);
}

.section-menu .menu-wrap1 .block h5 {
  font-family: 'PTSerif-Bold';
  color: #3b3b3b;
  font-size: 26px;
  line-height: 1;
  margin-bottom: 25px;
}

.section-menu .menu-wrap1 .block p {
  margin-top: 15px;
  line-height: 24px;
}

.section-menu .menu-wrap1 .block p a {
  color: #ff6633;
}

.section-menu .menu-wrap1 .block p a:hover {
  text-decoration: underline;
}

.section-menu .menu-wrap1 .block .btn {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-menu .menu-wrap1 .block .btn button {
  background: #ff6633;
  width: 160px;
  height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'PTSans-Bold';
  font-size: 13px;
  letter-spacing: .65px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.section-menu .menu-wrap1 .block .btn button:hover {
  background: rgba(0, 0, 0, 0.75);
}

.section-menu .menu-wrap1 .left {
  margin-top: 60px;
}

.section-menu .menu-wrap1 .right {
  width: 635px;
  position: absolute;
  top: 0;
  left: 520px;
}

.section-menu .menu-wrap1 .right img {
  width: 100%;
  display: block;
}

.section-menu .menu-wrap2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.section-menu .menu-wrap2 .block {
  width: calc(50% - 30px);
}

.section-menu .menu-wrap2 .left {
  margin-top: 73px;
  min-width: 535px;
  z-index: 1;
}

.section-menu .menu-wrap2 .left img {
  width: 100%;
  display: block;
}

.section-menu .menu-wrap2 .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 210px;
  left: 565px;
}

.section-menu .menu-wrap2 .right img {
  min-width: 280px;
  height: 100%;
  display: block;
  margin-left: 30px;
}

.section-menu .menu-wrap2 .right img:first-of-type {
  margin-left: 0;
}

.section-about {
  padding: 120px 0;
}

.section-about .section-about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-about .section-about-wrap .block {
  width: calc(50% - 30px);
}

.section-about .section-about-wrap .block .box {
  width: 100%;
}

.section-about .section-about-wrap .block .box img {
  width: 100%;
  display: block;
}

.section-about .section-about-wrap .block .box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.section-about .section-about-wrap .block .box-wrap .img {
  width: calc(50% - 15px);
}

.section-about .section-about-wrap .block .box-wrap .img img {
  width: 100%;
  display: block;
}

.section-about .section-about-wrap .block h5 {
  font-family: 'PTSerif-Bold';
  color: #3b3b3b;
  font-size: 26px;
  line-height: 1;
  margin-bottom: 40px;
}

.section-about .section-about-wrap .block p {
  margin-top: 20px;
  color: #3b3b3b;
  line-height: 24px;
}

.section-about .section-about-wrap .block p a {
  color: #ff6633;
}

.section-about .section-about-wrap .block p a:hover {
  text-decoration: underline;
}

.section-about .section-about-wrap .block .btn {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-about .section-about-wrap .block .btn button {
  text-transform: uppercase;
  width: 160px;
  height: 50px;
  background: #ff6633;
  color: #ffffff;
  font-family: 'PTSans-Bold';
  font-size: 13px;
  letter-spacing: .65px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.section-about .section-about-wrap .block .btn button:hover {
  background: rgba(0, 0, 0, 0.75);
}

.events {
  padding: 120px 0;
  background: #f7f7f7;
}

.events .events-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events .events-wrap .block {
  width: calc(50% - 15px);
  background: #ffffff;
  -webkit-box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.2);
}

.events .events-wrap .block .title h5 {
  font-family: 'PTSerif-Bold';
  color: #3b3b3b;
  font-size: 22px;
  line-height: 1;
}

.events .events-wrap .block-form {
  padding: 70px 70px 120px 70px;
  text-align: center;
}

.events .events-wrap .block-form .form {
  margin-top: 40px;
}

.events .events-wrap .block-form .form form {
  width: 100%;
}

.events .events-wrap .block-form .form form .input {
  width: 310px;
  height: 50px;
  position: relative;
  margin-bottom: 20px;
}

.events .events-wrap .block-form .form form .input input {
  border: 1px solid #e5e4e4;
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  border-radius: 3.7px;
  color: #555555;
  font-size: 14px;
  letter-spacing: .7px;
  padding-left: 20px;
  padding-right: 40px;
}

.events .events-wrap .block-form .form form .input input::-webkit-input-placeholder {
  color: #555555;
  font-size: 14px;
  letter-spacing: .7px;
}

.events .events-wrap .block-form .form form .input input:-ms-input-placeholder {
  color: #555555;
  font-size: 14px;
  letter-spacing: .7px;
}

.events .events-wrap .block-form .form form .input input::-ms-input-placeholder {
  color: #555555;
  font-size: 14px;
  letter-spacing: .7px;
}

.events .events-wrap .block-form .form form .input input::placeholder {
  color: #555555;
  font-size: 14px;
  letter-spacing: .7px;
}

.events .events-wrap .block-form .form form .input .fas {
  font-family: 'fa-solid-900';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  color: #555555;
  font-size: 13px;
}

.events .events-wrap .block-form .form form .btn {
  margin-top: 30px;
}

.events .events-wrap .block-form .form form .btn button {
  text-transform: uppercase;
  background: #222222;
  width: 100%;
  height: 50px;
  border-radius: 3.7px;
  color: #ffffff;
  font-family: 'PTSans-Bold';
  font-size: 14px;
  letter-spacing: 1.05px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.events .events-wrap .block-form .form form .btn button:hover {
  background: #ff6633;
}

.events .events-wrap .block-events {
  padding: 70px 50px 60px 30px;
}

.events .events-wrap .block-events .title {
  text-align: center;
}

.events .events-wrap .block-events .block-content .block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.events .events-wrap .block-events .block-content .block-wrap .img {
  min-width: 72px;
}

.events .events-wrap .block-events .block-content .block-wrap .img img {
  width: 100%;
}

.events .events-wrap .block-events .block-content .block-wrap .content {
  margin-left: 20px;
}

.events .events-wrap .block-events .block-content .block-wrap .content h6 {
  font-family: 'PTSerif-Bold';
  color: #ff6633;
  font-size: 16px;
  line-height: 1;
}

.events .events-wrap .block-events .block-content .block-wrap .content .title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10px;
}

.events .events-wrap .block-events .block-content .block-wrap .content .title-wrap .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events .events-wrap .block-events .block-content .block-wrap .content .title-wrap .date .fas {
  font-family: 'fa-solid-900';
  font-size: 13px;
  color: #555555;
}

.events .events-wrap .block-events .block-content .block-wrap .content .title-wrap .date p {
  font-family: 'PTSans-Bold';
  color: #3b3b3b;
  font-size: 12px;
  margin-left: 5px;
}

.events .events-wrap .block-events .block-content .block-wrap .content .title-wrap .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.events .events-wrap .block-events .block-content .block-wrap .content .title-wrap .time .fas {
  font-family: 'fa-solid-900';
  font-size: 13px;
  color: #555555;
}

.events .events-wrap .block-events .block-content .block-wrap .content .title-wrap .time p {
  margin-left: 5px;
  font-family: 'PTSans-Bold';
  color: #3b3b3b;
  font-size: 12px;
}

.events .events-wrap .block-events .block-content .block-wrap .content .text {
  margin-top: 10px;
  color: #3b3b3b;
  font-size: 14px;
  line-height: 20px;
}

.events .events-wrap .block-events .block-content .block-wrap .content a {
  color: #ff6633;
  font-family: 'PTSans-Italic';
  font-size: 14px;
}

.events .events-wrap .block-events .block-content .block-wrap .content a:hover {
  text-decoration: underline;
}

.reservations {
  padding: 120px 0;
}

.reservations .reservations-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reservations .reservations-wrap .block {
  width: calc(50% - 15px);
  text-align: center;
}

.reservations .reservations-wrap .block .title h5 {
  font-family: 'PTSerif-Bold';
  color: #3b3b3b;
  font-size: 26px;
  line-height: 1;
}

.reservations .reservations-wrap .block p {
  margin-top: 30px;
  line-height: 24px;
  color: #5b5b5b;
}

.reservations .reservations-wrap .block .btn {
  margin-top: 35px;
}

.reservations .reservations-wrap .block .btn button {
  text-transform: uppercase;
  width: 165px;
  height: 50px;
  background: #ff6633;
  color: #ffffff;
  font-family: 'PTSans-Bold';
  font-size: 13px;
  letter-spacing: .65px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.reservations .reservations-wrap .block .btn button:hover {
  background: rgba(0, 0, 0, 0.75);
}

.reservations .reservations-wrap .block .line-top {
  width: 1px;
  height: 65px;
  background: rgba(154, 153, 153, 0.4);
  margin: auto;
}

.reservations .reservations-wrap .block .desc {
  font-size: 24px;
  color: #9a9999;
  padding: 15px 0;
}

.reservations .reservations-wrap .block .line-bottom {
  width: 1px;
  height: 65px;
  background: rgba(154, 153, 153, 0.4);
  margin: auto;
}

.reservations .reservations-wrap .block .social {
  margin-top: 50px;
}

.reservations .reservations-wrap .block .social button {
  position: relative;
  width: 60px;
  height: 20px;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: .55px;
  margin-left: 10px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.reservations .reservations-wrap .block .social button:hover {
  background: #ff6633;
}

.reservations .reservations-wrap .block .social button:first-of-type {
  margin-left: 0;
}

.reservations .reservations-wrap .block .social button .fab {
  font-family: 'fa-brands-400';
  color: rgba(255, 255, 255, 0.9);
  font-size: 13px;
  margin-right: 5px;
}

.reservations .reservations-wrap .block .social .facebook {
  background: #3e59a5;
}

.reservations .reservations-wrap .block .social .twitter {
  background: #1b95e0;
}

.footer {
  padding: 90px 0 170px 0;
  background: #222222;
}

.footer .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-wrap .block {
  width: calc(33.3% - 15px);
}

.footer .footer-wrap .block h3 {
  color: #ff6633;
  font-family: 'PTSerif-Bold';
  font-size: 36px;
  line-height: 1;
}

.footer .footer-wrap .block h5 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  font-family: 'PTSerif-Bold';
  letter-spacing: 1.2px;
  line-height: 1;
}

.footer .footer-wrap .block .content {
  margin-top: 25px;
}

.footer .footer-wrap .block .content a {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .98px;
  color: #ffffff;
  line-height: 30px;
}

.footer .footer-wrap .block .content a:hover {
  text-decoration: underline;
}

.footer .footer-wrap .block .content p {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.05px;
}

.footer .footer-wrap .block .content p a {
  color: #ff6633;
  font-size: 14px;
  text-transform: none;
  line-height: 21px;
  letter-spacing: 1.05px;
  display: inline-block;
}

.footer .footer-wrap .block .content .footer-social {
  margin-top: 20px;
}

.footer .footer-wrap .block .content .footer-social h5 {
  margin-bottom: 25px;
}

.footer .footer-wrap .block .content .footer-social a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 25px;
  text-decoration: none;
}

.footer .footer-wrap .block .content .footer-social a:first-of-type {
  margin-left: 0;
}

.footer .footer-wrap .block .content .footer-social a .fab {
  font-family: 'fa-brands-400';
  font-size: 16px;
}

.footer .footer-wrap .block .content .footer-social a .fab:hover {
  color: #ff6633;
}

@media screen and (max-width: 1390px) {
  .section-menu .menu-wrap1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-menu .menu-wrap1 .block {
    width: 100%;
  }
  .section-menu .menu-wrap1 .left {
    margin-top: 0;
  }
  .section-menu .menu-wrap1 .right {
    position: static;
    margin-top: 50px;
    width: 100%;
  }
  .section-menu .menu-wrap2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-menu .menu-wrap2 .block {
    width: 100%;
  }
  .section-menu .menu-wrap2 .left {
    margin-top: 50px;
    min-width: 100%;
  }
  .section-menu .menu-wrap2 .right {
    position: static;
    margin-top: 50px;
    width: 100%;
    height: 100%;
  }
  .section-menu .menu-wrap2 .right img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 980px) {
  .events .events-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .events .events-wrap .block {
    width: 100%;
  }
  .events .events-wrap .block-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .events .events-wrap .block-events {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 950px) {
  .header .nav .menu .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 9999;
  }
  .header .nav .menu .burger.active span {
    display: none;
  }
  .header .nav .menu .burger.active::before {
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
    top: 50%;
  }
  .header .nav .menu .burger.active::after {
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  .header .nav .menu .burger span {
    background: #ffffff;
    height: 3px;
    width: 20px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .nav .menu .burger::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #ffffff;
    top: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .nav .menu .burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #ffffff;
    bottom: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .nav .menu .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9998;
    display: none;
    text-align: center;
    padding-top: 100px;
  }
  .header .nav .menu .main-menu .block {
    margin-left: 0;
  }
  .header .nav .menu .main-menu .block a {
    display: block;
    margin: 50px 0;
  }
  .header .nav .menu .main-menu.show {
    display: block;
  }
}

@media screen and (max-width: 840px) {
  .section-about .section-about-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-about .section-about-wrap .block {
    width: 100%;
  }
  .section-about .section-about-wrap .content {
    margin-top: 50px;
  }
}

@media screen and (max-width: 770px) {
  .reservations {
    padding: 90px 0 120px 0;
  }
  .reservations .reservations-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reservations .reservations-wrap .block {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 640px) {
  .section-menu .menu-wrap2 .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-menu .menu-wrap2 .right img {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .section-menu .menu-wrap2 .right img:last-of-type {
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .footer .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-wrap .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .footer .footer-wrap .block .content {
    text-align: center;
  }
  .footer .footer-wrap .block .content .footer-social {
    text-align: center;
  }
  .footer .footer-wrap .navigation {
    margin-top: 50px;
  }
  .footer .footer-wrap .visit {
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .section-about .section-about-wrap .block .box-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-about .section-about-wrap .block .box-wrap .img {
    width: 100%;
    margin-bottom: 30px;
  }
  .section-about .section-about-wrap .block .box-wrap .img:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 420px) {
  .header .header-main .btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .header .header-main .btn button {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .events .events-wrap .block-form {
    padding: 50px 10px;
  }
  .events .events-wrap .block-form .form {
    width: 100%;
  }
  .events .events-wrap .block-form .form form .input {
    width: 100%;
  }
  .events .events-wrap .block-events {
    padding: 50px 10px;
  }
  .events .events-wrap .block-events .block-content .block-wrap .content .title-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .events .events-wrap .block-events .block-content .block-wrap .content .title-wrap .time {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */